@model ClienteModel

@{
    ViewData["Title"] = "Editar cliente";
}

<div>
    <form asp-controller="Cliente" asp-action="Alterar" enctype="multipart/form-data" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div>
            <label for="id" class="form-label">ID do Cliente</label>
            <input type="number" asp-for="Id" class="form-control" id="id" placeholder="0" />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>
        <div>
            <label for="nome" class="form-label">Nome do Cliente</label>
            <input type="text" asp-for="Nome" class="form-control" id="nome" placeholder="Nome" />
            <span asp-validation-for="Nome" class="text-danger"></span>
        </div>
        <div>
            <label for="telefone" class="form-label">Número de Contato</label>
            <input type="text" asp-for="Telefone" class="form-control" id="telefone" placeholder="DDD + número" />
            <span asp-validation-for="Telefone" class="text-danger"></span>
        </div>
        <div>
            <label for="cep" class="form-label">CEP</label>
            <input type="text" asp-for="CEP" class="form-control" id="cep" placeholder="CEP" />
            <span asp-validation-for="CEP" class="text-danger"></span>
        </div>
        <div class="form-check">
            <input class="form-check-label" type="checkbox" id="situacao" asp-for="Ativo" />
            <label class="form-check-label" for="situacao">Ativo</label>
        </div>
        <div>
            <label for="nomeDaFoto" class="form-label">Imagem do produto: </label>
            @Html.DisplayFor(model => model.NomeDaFoto);
            <input type="file" accept="image/png, image/jpeg" class="form-control" id="nomeDaFoto" placeholder="Busque a foto do produto." name="imagemCarregada" />
        </div>
        <div>
            <button type="submit" class="btn btn-primary btn-block">Confirmar</button>
        </div>
    </form>
</div>